<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SightRateKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>circular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41B023D61A019D1E000BD953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41B023EB1A019D1F000BD953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41B024001A019D69000BD953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41B0240A1A019D69000BD953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
